@model IEnumerable<FishingAdvicesListingViewModel>

<div class="row">
    @foreach (var publication in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@publication.ImageUrl" alt="@publication.Title">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@publication.Title  </h5>
                    <h6 class="card-title text-danger text-center">@(publication.Sections)</h6>
                    <p class="card-text text-center">Post something</p>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@publication.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>